*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background: rgb(34, 167, 255);
    color: rgb(255, 255, 255);
    font: normal 15pt arial;
    text-align: center;
    padding: 50px;
    line-height: 100px;
}

section.contentTabuada{
    background: rgb(216, 213, 190);
    color: black;
    width: 600px;
    margin: auto;
    padding: 15px;
    line-height: 30px;
    border-radius: 30px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.775);
}

section.contentTabuada div.tabuada{
    width: 350px;
    margin: auto;
}

section.contentTabuada img{
    width: 300px;
    height: 300px;
    border-radius: 100vh;
}

section.contentTabuada input{
    line-height: 20px;
    width: 100px;
    font: normal 15pt arial;
    margin: 5px;
    padding: 5px;
}

section.contentTabuada input.submit{
    background: rgb(169, 168, 168);
    width: 200px;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
}

section.contentTabuada input.submit:hover{
    background: rgb(128, 121, 121);
    color: white;
    cursor: pointer;
}

select.select{
    width: 200px;
    height: auto;
}

select.select option{
    font: normal 15pt arial;
}